.hero {
  width: 100%;
  color: #333;
}

.hero-title {
  margin: 0;
  width: 100%;
  padding-top: 80px;
  line-height: 1.15;
  font-size: 48px;
}

.hero-description {
  text-align: center;
}

.hero-banner {
  width: 100%;
  height: 100vh;
}

.hero-container {
  position: relative;
  text-align: center;
  color: white;
  margin-top: -19px;
}

.hero-centered-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-more {
  color: white !important;
}
