.navitem {
  color: black;
}

.logo {
  display: inline-block;
  height: 100%;
}

.logo>img {
  width:120px;
  height:15px;
  margin-bottom: 6px;
}

.nav-btn-container {
  display: inline-block;
}

.nav-btn {
  margin-bottom: 6px;
}

.material-icons {
  color: black;
}

.exit-link{
  color: black;
}
