.shop-section-container {
  width: 100%;
  background-color: teal;
  position: relative;
  text-align: center;
  margin-top: -19px;
  margin-bottom: 70px;
}

.shop-section-text {
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}

.shop-icon {
  color: white;
}
